Brotli==1.0.9
cffi==1.14.6
cssselect2==0.4.1
fonttools==4.27.1
html5lib==1.1
importlib-metadata==4.8.1
Markdown==3.3.4
Pillow==8.3.2
pkg-resources==0.0.0
pycparser==2.20
pydyf==0.1.1
PyPDF2==1.26.0
pyphen==0.11.0
six==1.16.0
tinycss2==1.1.0
typing-extensions==3.10.0.2
weasyprint==52.5
webencodings==0.5.1
zipp==3.6.0
zopfli==0.1.8
