@import 'xrefs';
@import 'toc';
@import 'basic_code_highlighter';


//-------------------------------------------------------//
//                 Variables and Gettables
//-------------------------------------------------------

@font-face {
  font-family: 'Crimson Pro';
  src: url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital@0;1&display=swap');
}

$base-font-size: 10.5pt;
$base-font-family: 'Crimson Pro', serif;


// everything then under here

//-------------------------------------------------------//
//                    Page Layout Info
//-------------------------------------------------------//


@page {
  size: 7in 9.1875in;
  margin: .75in 1in;
}

@page :right {
    @bottom-right {
        content: counter(page);
        font-family: $base-font-family;
        font-size: $base-font-size;
        line-height: $base-line-height;
      }
}
@page :left {
    @bottom-left {
        content: counter(page);
        font-family: $base-font-family;
        font-size: $base-font-size;
        line-height: $base-line-height;
      }
}



//-------------------------------------------------------//
//                    Font Stuff
//-------------------------------------------------------//


body {
  margin:0;
  padding:0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1, h2, h3, h4, h5, h6 {
  margin: 18pt 0 12pt;
  padding: 0;
  font-size: $base-font-size;
  font-weight: bold;
}

// no margin on first sect one of file
.sect1:first-child h1 { // LOL not working yet.
  margin-top: 0;
}

p {
  margin: 0 0 6pt 0;
  padding:0;
  line-height: $base-line-height;
  text-align: justify;
  // widow and orphan control
  orphans: 2;
  widows: 2;
}

// no indent first paragraph of section
.paragraph:first-child p {
  text-indent: 0;
}


code { // note override for novel below
  font-family: 'Source Code Pro', monospace;
  font-size: 10pt;
  background-color: #f7f7f7;
  padding: 0 1px;
}

pre { //pre-wrap
  font-family: 'Source Code Pro', monospace;
  font-size: 10pt;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 12pt;
  background-color: #f7f7f7;
  padding: 6pt;
  line-height: 1.12 !important;
}

a {
  text-decoration: none;
  color: #000;
  font-style: italic;
}
